.services-banniere{
    width: 80%;
    margin: auto;
    padding: 20px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.services-bnr-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.services-bnr-left h1 {
    font-size: 48px;
    font-weight: bold;
    line-height: 101%;
    width: 80%;
    margin-bottom: 0;
}
.services-bnr-left h2{
    font-size: 24px;
    font-weight: 500;
    color: #999;

}

.services-bnr-right{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.services-bnr-right p{
    width: 80%;
    font-size: 24px;
    font-weight: 400;
    color: #999;
    line-height: 103%;
    text-align: justify;
}
.offres{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.vitrine-offres{
    width: 80%;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 70px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.vitrine-photo{
    width: 485px;
    height: 380px;
    object-fit: cover;
    border-radius: 58px 58px 0 0;
}
.vitrine-component{
    width: 485px;
    height: 450px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 58px;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.25);
    margin-top: 20px;
}
.type-nett{
    margin-top: 10px;
    font-size: 29px;
    font-weight: bold;
    color: #0B5EDB;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: auto;
}